@import "bourbon/bourbon";
//@import "bitters/bitters";
@import "neat/neat";

$c0: #000;
$c1: #111;
$c2: #222;
$c3: #333;
$c4: #444;
$c5: #555;
$cf: #fff;
$ce: #eee;

body {
  color: $ce;
  background: $c2;
}

section {
  @include outer-container;
  //border: 1px solid $c4;
  border-top: 1px solid $ce;
  aside {
    @include span-columns(3);
    text-align: center;
    border-right: 1px solid $ce;
  }
  article { @include span-columns(9); }
}

h2 {
  text-align: center;
  background: $c3;
  margin: 0 20px;
  padding: 20px 0;
}

.container {
  margin-top: 85px;
}

a {
  color: $ce;
}

header {
  z-index: 100;
  //left: 0;
  //top: 0px;
  height: 85px;
  width: 100%;
  position: fixed;
  background: $c3;
  //border-bottom: 4px solid $c4;
  h1 {
    margin-left: 45px;
  }
  nav {
    max-width: 650px;
    //margin: 0;
    //padding: 0 10px;
    background: transparent;
    margin: 6px auto;
    margin-top: -50px;
    li {
      //font-weight: normal;
      list-style: none;
      display: inline;
      //color: $ce;
      //line-height: 50px;
      //font-size: 14px;
      a {
        color: $ce;
        background: $c2;
        //border: 1px solid $c4;
        //box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
        //background-color: #93bd20;
        padding: 10px;
        //margin-top: 6px;
        //line-height: 14px;
        font-size: 14px;
        //display: inline-block;
        text-align: center;
        &:hover {
          background: $c4;
        }
      }
    }
  }
}

/*
header nav li a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #749619), color-stop(100%, #527f0e));
  background: -webkit-linear-gradient(#749619, #527f0e);
  background: -moz-linear-gradient(#749619, #527f0e);
  background: -o-linear-gradient(#749619, #527f0e);
  background: -ms-linear-gradient(#749619, #527f0e);
  background: linear-gradient(#749619, #527f0e);
  background-color: #659e10;
  border: 1px solid #527f0e;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
}
header nav li.fork {
  float: left;
  margin-left: 0px;
}
header nav li.downloads {
  float: right;
  margin-left: 6px;
}
header nav li.title {
  float: right;
  margin-right: 10px;
  font-size: 11px;
}*/
